<header>
  <img
    ngSrc="/assets/imgs/fotominha.jpeg"
    alt="Carlos Charles - Foto de Perfil"
    width="130"
    height="130"
    loading="eager"
    />
  <h1> Carlos Charles</h1>
</header>

<aside>
  <div class="container">
    <p> Java | Git | Angular | MongoDB </p>
    <p>Porto Velho, Rôndonia, Brazil</p>
    <p>
      Sou estutante na area de desenvolvimento Software estou no estudo a 2 anos. Estou abraçando
      o Framework Angular, e a Linguagem de programação Java.
    </p>
    <nav>
      <ul>
        <li>
          <a href="../../../../assets/pdf/Currículo" target="_blank" class="btn btn-primary">
            Download cv
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/carlos-charles-810426302/" target="_blank" class="btn btn-secondary">
            linkdIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
        src="../../../../assets/icons/whatsapp.webp"
        alt ="Ícone para contato do WhatsApp"
        width="22px"
        height="24px"
        />

        <figcaption></figcaption>
        <a href="https://api.whatsapp.com/send?phone=5569992700080&text=Ol%C3%A1%20Carlos,%20precisa%20de%20um%20job?"
        target="_blank">
          <strong>Envie uma menssagem para:</strong>
          <p>WhatsApp: (69)99270-0080</p>
        </a>
      </figure>

      <figure>
        <img
          src="assets/icons/iconEmail.png"
          alt ="Ícone para e-mail"
          width="22px"
          height="24px"
        />

        <figcaption></figcaption>
        <a href="mailto:carloscharles1616@gmail.com"
           target="_blank">
          <strong>Envie uma e-mail para:</strong>
          <p>carloscharles1616&#64;gmail.com</p>
        </a>
      </figure>
    </section>
  </div>
</aside>
